header {
    text-align: center;
    color: #000000;
    font-size: 120px;
    background-color: white;
  }
  h1 {
    text-align: center;
    color: #000000;
    font-size: 70px;
  }
  .boton {
    display: inline-block;
    padding: 12px 24px;
    border-radius: 50px;
    background-color: #4CAF50;
    color: white;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
  }
  
  p {
    color: #000000;
    font-size: 1em;
    font-family: Times, sans-serif;
  }
  .contenedor {
    height: 4000px;
    text-align: center;
    
  }
  img {
    width: 2000px;
    position: relative;
    left: 0%; 
    
  }
  section {
    text-align: center;
    background-color: rgb(255, 255, 255);
    
  }
  body {
    background-image: linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 1)), url("https://image.freepik.com/foto-gratis/deliciosas-piruletas-bastones-caramelo_23-2147689565.jpg");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    font-size: 30px;
  }
  h3 {
    color: #000000;
    font-size: 70px;
    }
  table {
    margin : 0 auto;
    font-size: 40px;
    background-color: white;
  }
 